.container {
       
}
#loquesea {
    position:relative;
}
#buscador-home {
    position: absolute;
	top: 40px;
    left: 5px;
	z-index: 1000;
}

/*Estidlo buscador Home*/
.form-control-feedback {
    text-align: inherit;
}

#buscador-home .col-md-* {
	padding-left: 0px
}

#buscador-home .nav > li > a {
	position: relative;
	display: block;
	width: 100%;
	background-color: rgba(255,255,255,0.9);
	/*padding: 5px 10px;*/
}

#content-home {
	padding-left: 0px;
	background-color: rgba(255,255,255,0.9);

	border-radius: 25px;
	border-top-left-radius: 0;
	padding: 15px 0px 10px 0px;
	padding: 15px 0px 10px 0px;
}

#tab-home {
	padding-left: 0px;
	padding-right: 0px;
}

/*botenes tab*/
#tab-home .nav-tabs > li > a  {
   width: 72px;
}
/*boton activo*/
#tab-home .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover  {
    color: #555;
    cursor: default;
    background-color: rgba(255,255,255,1);
}
/*primer botoon*/
#tab-home .nav-tabs > li:first-child > a {
    color: #555;
    cursor: default;
    background-color: rgba(255,255,255,0.9);

	border-top-left-radius: 25px;
}
#tab-home .nav-tabs > li:first-child.active > a, .nav-tabs > li:first-child.active > a:focus {
    color: #555;
    cursor: default;
    background-color: rgba(255,255,255,0.9);

}
#tab-home .nav-tabs > li:first-child.active > a, .nav-tabs > li:first-child.active > a:hover {
    color: #555;
    cursor: default;
    background-color: rgba(255,255,255,1);
	border-top-left-radius: 25px;
}
/*ultimo botoon*/
#tab-home .nav-tabs > li:last-child > a {
    color: #555;
    cursor: default;
    background-color: rgba(255,255,255,0.9);

border-bottom-left-radius: 25px;
}
#tab-home .nav-tabs > li:last-child.active > a, .nav-tabs > li:last-child.active > a:focus {
    color: #555;
    cursor: default;
    background-color: rgba(255,255,255,0.9);

	border-bottom-left-radius: 25px;
}
#tab-home .nav-tabs > li:last-child.active > a, .nav-tabs > li:last-child.active > a:hover {
    color: #555;
    cursor: default;
    background-color: rgba(255,255,255,1);

	border-bottom-left-radius: 25px;
}