<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Block Users</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link href="/css/admin_profile.css" rel="stylesheet"/>
    <script type="text/javascript" src="/js/admin_profile.js"></script>
    <div th:replace="top_bar_only_login :: 'head-top-bar'"></div>
</head>

<body>
    <script>
        function reset_pwd(login_email){
            document.getElementById("login_reset").value=login_email.toString();
        }
    </script>
<nav th:replace=" top_bar_only_login :: 'nav-bar-only-login' ">	</nav>


<div class="row-offcanvas row-offcanvas-left">
    <div id="sidebar" class="sidebar-offcanvas">
        <div class="col-md-12">
            <h3>Άλλες Επιλογές</h3>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="/admin/profile">Σύνοψη</a></li>
                <li><a href="/admin/manage_organisers">Διαχείριση Διοργανωτών</a></li>
                <li class="active"><a href="/admin/manage_parents">Διαχείριση Γονέων</a></li>
                <li><a href="/admin/accept_location">Αποδοχή Τοποθεσίας</a></li>
            </ul>
        </div>
    </div>
    <div id="main">
        <div class="col-md-12">
            <h2>Μπλόκαρε Κάποιον Χρήστη</h2>
            <hr/>
            <br />
            <p class="visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Μενού</button>
            </p>

                    <div class="well" style="max-height:100%;" >
                        <div id="myplaces">
                            <h4><b>Γονείς</b></h4>
                            <!--th:block th:if="${ organiser.locations != null}" th:each="oneLocation : ${organiser.locations}" >
                                <p th:text="'Όνομα : ' + ${oneLocation.name}"></p>
                                <p th:text="'Διεύθυνση :' + ${oneLocation.address}"></p>
                                <p th:text="'Έγκυρο μέχρι τις :' + ${oneLocation.validUntil}"></p>
                                <hr/>
                            </th:block-->
                            <!--th:block th:unless="${parents== null || parents.size() == 0}" th:each="parent : ${parents}">
                                <p th:inline="text"> [[ ${parent.login_email} ]] [[ ${parent.wallet/100} ]] € &nbsp;<button  id="" class="button1" >Block</button></p>
                            </th:block-->

							<div class="agenda">
    							<div class="table-responsive">
    								<table class="table table-condensed table-bordered">
    							  <!--  <h4><b>Οικοδεσπότες</b></h4>-->
    									<thead>
    										<tr>
                                              <th>E-mail</th>
                                              <th>Υπόλοιπο(€)</th>
    										  <th>Μπλοκάρισμα Γονέα</th>
    										  <th>Επαναφορά Κωδικού</th>
    										  <th>Εκδηλώσεις που έχει/θα πάει</th>
    										  <th>Ιστορικό συναλαγών</th>
    										</tr>
    									</thead>
    									<tbody>

    										<th:block th:unless="${parents== null || parents.size() == 0}" th:each="parent : ${parents}">
    											<tr>
    											  <!--p th:inline="text"> [[ ${organiser.name} ]] [[ ${organiser.surname} ]] [[ ${organiser.points/100} ]] € &nbsp;<button  id="" class="button1" >Block</button></p-->
    											  <td class="agenda-email" th:text="${parent.login_email}">
                                                      Kappas
                                                  </td>
    											  <td class="agenda-money" th:text="${parent.points}/100+'€'">
                                                      4,20 €
                                                  </td>
    											  <td class="agenda-button">
                                                      <form th:action="@{/admin/login/block}" name="block_unblock" id="block_unblock" method="post">
                                                          <input type="hidden" name="login_email" th:value="${parent.login_email}"/>
                                                          <th:block th:if="${parent.login.active==true}">
                                                              <input type="hidden" name="action" value="block"/>
                                                              <button th:type="submit" class="button1">Μπλοκάρισμα</button>
                                                          </th:block>
                                                          <th:block th:unless="${parent.login.active==true}">
                                                              <input type="hidden" name="action" value="unblock"/>
                                                              <button th:type="submit" class="button1">Ξε-Μπλοκάρισμα</button>
                                                          </th:block>
                                                      </form>
    											  </td>
                                                  <td>
                                                      <button type="button" data-toggle="modal" data-target="#myModal_reset" class="button1" th:onclick="'reset_pwd(\''+${parent.login_email}+'\')'">Επαναφορά Κωδικού</button>
                                                  </td>
                                                  <td>
                                                      <button type="button" class="button1" th:onclick="'location.href=\'/admin/parent/books?login_email='+${parent.login_email}+'\';'">Ιστορικό Εκδηλώσεων</button>
                                                  </td>
                                                  <td>
                                                      <button type="button" class="button1" th:onclick="'location.href=\'/admin/parent/transactions?login_email='+${parent.login_email}+'\';'">Ιστορικό μεταφορών</button>
                                                  </td>
    											</tr>
    										</th:block>

    									</tbody>
    								</table>
    							</div>
							</div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal_reset" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                          <form th:action="@{/admin/login/reset}" name="reset"  method="post">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Επαναφορά Κωδικού Γονέα</h4>
                              </div>
                              <div class="modal-body">
                                    <div class="text-center">
                                        <h3 id="header_amount"></h3>
                                        <input type="hidden" name="login_email" value="" id="login_reset"/>
                                        <h3>Νέος Κωδικός</h3>
                                        <input type="text" required="true" name="new_pwd" />
                                    </div>
                              </div>
                              <div class="modal-footer">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Επαναφορά Κωδικού</button>
                                    </div>
                              </div>
                            </div>
                        </form>
                      </div>
                    </div>
        </div>
    </div>
</div><!--/row-offcanvas -->
</body>
</html>
