<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Parents On Duty</title>


	<!--Yparxei h epilogh gia ta css pou kanoume link mesw istoselidas na ta syndeoume topika-->
    <!-- Bootstrap Core CSS -->
    <link href="/css/full-width-pics.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 15px;
		}
	</style>
	<div th:replace="top_bar_only_login :: 'head-top-bar'"></div>

	<!--For Background-->
	<style>

	body, html {
	  height: 100%;
	  margin: 0;
	  font: 400 15px/1.8 "Lato", sans-serif;

	}
	.bgimg-1, .bgimg-2, .bgimg-3 {
	  position: relative;

	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;

	}
	.bgimg-1 {
	  background-image: url("/css/booknowbackground.jpg");
	  height: 100%;
	  background-attachment: fixed;
	  overflow:scroll;
	}

	.caption {
	  position: absolute;
	  left: 0;
	  top: 50%;
	  width: 100%;
	  text-align: center;
	  color: #000;
	}

	</style>
</head>

<body>

    <!-- Navigation -->
	<div>
		<nav th:replace=" top_bar_only_login :: 'nav-bar-only-login' ">	</nav>
	</div>
	<!--EEEEnd of Naaavi-->


<div class="bgimg-1">
	<div class="form-group col-md-12">

		<p><br/><br/></p><!--to adjust below top bar -->
		<section>
			<div class="container">
				<div class="form-group col-md-12">
					<img id="eventimage" class="img-responsive" src="/images.png" width="100%" height="auto" /><!--maybe needs width=" X px" height=" Y px" depending on the resolution-->
				</div>

				<div  style="text-align: center">
					<div  style="display: inline-block;"><h2><i>Επιβεβαιώστε την κράτησή σας τώρα!</i></h2></div>
				</div>

				<table  class="form-group col-md-12" style="width:100%">
				  <tr>
					<th>Οικοδεσπότης</th>
					  <td><b><i th:text="${curEvent.getOrganiser().getName()} + ' ' + ${curEvent.getOrganiser().getSurname()} " id="Host"> </i></b></td>
				  </tr>
				  <tr>
					<th>Τιμή</th>
					<td><b><i th:text="${curEvent.price/100}" id="Price"></i></b></td>
				  </tr>
				  <tr>
					<th>Ημερομηνία</th>
					<td><b><i th:text="${#dates.format(curEvent.day,'dd/MM/yyyy')}">06/06/06</i></b></td>
				  </tr>

				</table>
				<p><br/><br/></p>
				<form th:action=" '/event/book/confirm' " method="post" id="BookNow">
					<label for="theseis">Αριθμός θέσεων</label>
					<input type="number"  id="theseis" name="theseis" min="1" max="10" th:max="${availableSits}" value="1"/>
                    <br/>
					<input type="hidden" id="eventId" name="eventId" th:value="${curEvent.idEvents}" />
                    <hr/>
					<div class="form-group col-md-12">
                          <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">Κλείσε Τώρα!</button>
					</div>
                    <!-- Modal -->
                      <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h2 class="modal-title">Επιβεβαίωση</h2>
                            </div>
                            <div class="modal-body text-center" >
                              <h3>Είστε σίγουρος ότι θέλετε να κάνετε την κράτηση;</h3>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-lg btn-primary pull-left" form="BookNow" value="Submit">Ναί</button>
                              <button type="button" class="btn btn-lg btn-primary pull-right" data-dismiss="modal">Όχι</button>
                            </div>
                          </div>

                        </div>
                      </div>
				</form>
			</div>
		</section>
	</div>
</div>
</body>

</html>
