<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Parents On Duty</title>


	<!--Yparxei h epilogh gia ta css pou kanoume link mesw istoselidas na ta syndeoume topika-->
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<!--DatePicker-->
      <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
      <link rel="stylesheet" type="text/css" media="all" href="/bootstrap-daterangepicker-master/daterangepicker.css" />
      <style type="text/css">
      .demo { position: relative; }
      .demo i {
        position: absolute; bottom: 10px; right: 24px; top: auto; cursor: pointer;
      }
      </style>
    <!-- Custom CSS -->
    <link href="/css/full-width-pics.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 15px;
		}
	</style>
	<div th:replace="top_bar_only_login :: 'head-top-bar'"></div>
</head>

<body>

    <!-- Navigation -->
	<div>
		<nav th:replace=" top_bar_only_login :: 'nav-bar-only-login' ">	</nav>
	</div>
	<!--EEEEnd of Naaavi-->
	<div class="form-group col-md-12">

		<p><br/><br/></p><!--to adjust below top bar -->
		<section>
			<div class="container">
				<div class="form-group col-md-12">
					<img id="eventimage" class="img-responsive" src="/images.png" width="100%" height="auto" /><!--maybe needs width=" X px" height=" Y px" depending on the resolution-->
				</div>
				<table  class="form-group col-md-12" style="width:100%">
				  <tr>
					<th>Host</th>
					  <td><b><i th:text="${curEvent.getOrganiser().getName()} + ' ' + ${curEvent.getOrganiser().getSurname()} " id="Host"> </i></b></td>
				  </tr>
				  <tr>
					<th>Price</th>
					<td><b><i th:text="${curEvent.price/100}" id="Price"></i></b></td>
				  </tr>
				  <tr>
					<th>Date</th>
					<td><b><i th:text="${curEvent.day}">16/06/18</i></b></td>
				  </tr>

				</table>
				<p><br/><br/></p>
				<form th:action=" '/event/book/confirm' " method="post" id="BookNow">
					<label for="theseis">Αριθμός θέσεων</label>
					<input type="number"  id="theseis" name="theseis" min="1" th:max="${availableSits}" value="1"/>
					<input type="hidden" id="eventId" name="eventId" th:value="${curEvent.idEvents}" />
					<div class="form-group col-md-12">
						<button type="submit"  class="btn btn-info btn-lg btn-block" form="BookNow" value="Submit"><i class="fa fa-search" aria-hidden="true">Book Now!</i></button>
					</div>
				</form>
			</div>
		</section>
	</div>
</body>

</html>