<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Event Page</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="css/event_page.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
     $(function(){
     	$("#includedContent").load("bar/bar.html");
      });
    </script>
    <div th:replace="top_bar_only_login :: 'head-top-bar'"></div>
	<!--For Background-->
	<style>

	body, html {
	  height: 100%;
	  margin: 0;
	  font: 400 15px/1.8 "Lato", sans-serif;

	}
	.bgimg-1, .bgimg-2, .bgimg-3 {
	  position: relative;

	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;

	}
	.bgimg-1 {
	  background-image: url("/css/eventbackground.jpg");
	  height: 100%;
	  background-attachment: fixed;
	  overflow:scroll;
	}
	.caption {
	  position: absolute;
	  left: 0;
	  top: 50%;
	  width: 100%;
	  text-align: center;
	  color: #000;
	}


}
	</style>
</head>

<body>
    <script th:inline="javascript">
        var map;
        /*[+

        var latlng = { lng: [[${theEvent.location.lon}]] ,
                        lat:[[${theEvent.location.lat}]]}
        +]*/
        var myLatLng = { lng: /*[[${theEvent.location.lon}]]*/,
        lat: /*[[${theEvent.location.lat}]]*/
        }
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                zoom: 12
            });
            var marker = new google.maps.Marker({
                  position: latlng,
                  map: map
            });
        }
    </script>
    <!-- Navigation -->
   <nav th:replace=" top_bar_only_login :: 'nav-bar-only-login' ">	</nav>
   <br/>
   <div id="includedContent"></div>
<!--Background Image-->
<div class="bgimg-1">
    <!-- Page Content -->
    <div class="container" style="opacity:100%">
        <br/>
        <h1>Σελίδα Εκδήλωσης</h1>
        <h1 th:if="${param.Event_Expired}" class="important" th:text="'Η συγκεγκριμένη εκδήλωση έχει ήδη διεξαχθεί.'"> </h1>

        <hr/>
        <script>
        function show_search(){
            document.getElementById("button_show").style.display="none";
            document.getElementById("button_hide").style.display="block";
            document.getElementById("search_bar").style.display="block";
        }
        </script>
        <script>
        function hide_search(){
            document.getElementById("button_show").style.display="block";
            document.getElementById("button_hide").style.display="none";
            document.getElementById("search_bar").style.display="none";
        }
        </script>
        <button id="button_show" type="button" class="btn btn-primary " onclick="show_search()">Μήπως Ψάχνεις Κάτι Άλλο;</button>
        <button id="button_hide" type="button" class="btn btn-primary " onclick="hide_search()">Κλείσιμο Αναζήτησης</button>
        <form  action="/results" method="get" id="AboutSearches">
            <div id="search_bar">
                <div class="form-group" >
                    <h5 class="text-center" for="Address_Search">Αναζήτηση Εκδήλωσης</h5>

					<div class="input-group">
					  <input type="text" class="form-control" name="free_text" id="Address_Search" placeholder="Καλοκαίρι με Πινκγ Πονγκ" aria-describedby="helpQuery" th:value=" ${allParams!=null} ? ${allParams.get('free_text')} :'' "/>
                        <input  style="display:none;" readonly="true" type="text" required="true" value="" name="Dates" />
                        <input  style="display:none;" readonly="true" type="text" required="true" value="0" name="Price" />
                        <input  style="display:none;" readonly="true" type="text" required="true" value="" name="Age" />
                        <input  style="display:none;" readonly="true" type="text" required="true" value="" name="distance" />
                        <input  style="display:none;" readonly="true" type="text" required="true" value="" name="lat" id="lat"/>
                        <input  style="display:none;" readonly="true" type="text" required="true" value="" name="lon" id="lot"/>


                        <span class="input-group-btn">
						<button type="submit" class="btn  btn-primary" form="AboutSearches" >Αναζήτηση</button>
					  </span>
					</div>

					<i class="fa fa-building-o form-control-feedback"></i>
                    <span id="helpQuery" class="help-block hidden">Σε τι βοηθαει αυτο;</span>
                </div>
            </div>
        </form>
    </div>
    <br/>
    <div class="container" style="opacity:1">
            <div th:with="allFeedbacks=${@eventService.allFeedbacks(theEvent)}"  class="col-xs-12 col-md-6 col-sm-12">
                <img class="img-responsive" th:src="${theEvent.eventsgroup.imagePath}" src="images.png" alt=""/>
                <hr/>
                <div class="well pre-scrollable" style="max-height:350px;">
                    <div class="row">
                        <div class=" col-md-12 col-sm-12 ratings" th:inline="text" th:with="eventStats=${@eventService.getRating(theEvent)}">
                            <p  th:if="${eventStats>0}">
                                [[${allFeedbacks.size()}]] Αξιολογήσεις από γονέα: &nbsp;
                                <span th:each="i : ${#numbers.sequence( 1, eventStats,1)}" class="glyphicon glyphicon-star"></span>
                                <th:block th:if="${5>eventStats}">
                                    <span th:each="i : ${#numbers.sequence( 4, eventStats,-1)}" class="glyphicon glyphicon-star-empty"></span>
                                </th:block>
                            </p>
                        </div>
                    </div>
                    <hr/>
                        <th:block th:each="oneFeedback,i:${allFeedbacks}">
                            <div class="row">
                                <div class="col-md-12 col-sm-12" th:with="eventStats=${oneFeedback.rating}">
                                    <p>
                                        <span  th:text="${#dates.format(oneFeedback.date,'dd/MM/yyyy')}">10 days ago</span>
                                        &nbsp;
                                        <span th:each="i : ${#numbers.sequence( 1, eventStats,1)}" class="glyphicon glyphicon-star"></span>
                                        <th:block th:if="${5>eventStats}">
                                        <span th:each="i : ${#numbers.sequence( 4, eventStats,-1)}" class="glyphicon glyphicon-star-empty"></span>
                                        </th:block>
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div style="word-wrap: break-word;" class="col-md-12 col-sm-12">
                                    <p>Anonymous</p>
                                    <h5 th:text="${oneFeedback.content}"></h5>
                                </div>
                            </div>
                            <hr/>
                        </th:block>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-sm-12">
	            <div class="row">
	            	<div class="thumbnail">
	                    <div class="caption-full">
	                    	<h2 th:text=" ${theEvent.eventsgroup.name}" > </h2>
                            <h3 th:inline="text">Ηλικίες: [[${theEvent.eventsgroup.ageFrom}]]-[[${theEvent.eventsgroup.ageTo}]] </h3>
	                    	<h4 th:inline="text">Ημερομηνία: [[${#dates.format(theEvent.day,'dd/MM/yyyy')}]] [[${theEvent.time}]]</h4>
	                        <p th:inline="text">[[${theEvent.eventsgroup.description}]]</p>
	                        <hr/>
	                        <!--    <h5><b>Telephone: 2109245444</b></h5> -->
	                        <div class="information">
		                 		<h5 th:inline="text">E-mail: [[${theEvent.organiser.login_email}]]</h5>
			                    <h5 th:inline="text">Διεύθυνση: [[${theEvent.location.address}]]</h5>
			                    <h5 th:inline="text">Ταχυδρομικός Κώδικας: [[${theEvent.location.postcode}]]</h5>
		                	</div>
	                        <hr/>
							<a class="btn btn-primary pull-right" th:href="@{ /event/book?id={id}(id=${theEvent.idEvents}) }" role="button">Κάνε Κράτηση!</a>
                            <h4 th:inline="text">Τιμή: [[${theEvent.price}/100]] €</h4>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	            		<div class="iframe-container">
	            			<div id="map" style="background:yellow"></div>
							<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCR7e_1Er6gEoMB_i69MOiljeHJepWdVKA&amp;callback=initMap"></script>
						</div>
	            </div>
            </div>
    </div>
</div>

    <script type="text/javascript" src="bootstrap-daterangepicker-master\example\amd/require.js" data-main="bootstrap-daterangepicker-master\example\amd/main.js"></script>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
