<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:style="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Parents On Duty</title>



    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<script type="text/javascript" src="/js/datepicker/jquery.min.js"></script>
	<script type="text/javascript" src="/js/datepicker/moment.min.js"></script>
    <script type="text/javascript" src="/js/autocomplete_Home.js"></script>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"/>


	<link rel="stylesheet" type="text/css" href="/js/datepicker/bootstrap.css" />
    <style type="text/css">
      .demo { position: relative; }
      .demo i {
        position: absolute; bottom: 10px; right: 24px; top: auto; cursor: pointer;
      }
    </style>
    <!-- Custom CSS -->
    <link href="/css/full-width-pics.css" rel="stylesheet"/>

	<div th:replace="top_bar_only_login :: 'head-top-bar'"></div>
	<!--Carousel-->
	<style>
		.multi-item-carousel{
	  .carousel-inner{
		> .item{
		  transition: 500ms ease-in-out left;
		}
		.active{
		  &amp;.left{
			left:-33%;
		  }
		  &amp;.right{
			left:33%;
		  }
		}
		.next{
		  left: 33%;
		}
		.prev{
		  left: -33%;
		}
		@media all and (transform-3d), (-webkit-transform-3d) {
		  > .item{
			// use your favourite prefixer here
			transition: 500ms ease-in-out left;
			transition: 500ms ease-in-out all;
			backface-visibility: visible;
			transform: none!important;
		  }
		}
	  }
	  .carouse-control{
		&amp;.left, &amp;.right{
		  background-image: none;
		}
	  }
	}

	// non-related styling:
	body{
	  background: #333;
	  color: #ddd;
	}
	h1{
	  color: white;
	  font-size: 2.25em;
	  text-align: center;
	  margin-top: 1em;
	  margin-bottom: 2em;
	  text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
	}

	</style>

	<!--Background Image bgimg-1-->
	<style>

	body, html {
	  height: 100%;
	  margin: 0;
	  font: 400 15px/1.8 "Lato", sans-serif;
	}
	.bgimg-1, .bgimg-2, .bgimg-3 {
	  position: relative;

	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;

	}
	.bgimg-1 {
	  background-image: url("css/kids-on-grass-2.jpg");
	  height: 100%;
	  background-attachment: fixed;
	  overflow:scroll;
	}

	.caption {
	  position: absolute;
	  left: 0;
	  top: 50%;
	  width: 100%;
	  text-align: center;
	  color: #000;
	}

	</style>

</head>

<body>

    <!-- Navigation -->
	<div>
		<nav th:replace=" top_bar_only_login :: 'nav-bar-only-login' ">	</nav>
	</div>
	<!--Background image fixed-modules scroll inside the image-->
	<div class="bgimg-1">


		<!-- Content Section -->
		<section>
            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
			<div class="container" >
				<div class="row">
					<div class="col-lg-12">
						<p class="section-paragraph">
							<div class="container"  >
								<!--Search Bar html code-->
								<div class="col-md-12" id="Search_Section">
									<div class="text-center" id="content-home">
										<div class="tab-content">
											<div role="tabpanel" class="tab-pane active" id="AllSearchForms">
												<form action="/results" method="get" id="AboutSearches">
                                                    <div class="panel panel-primary">
                                                      <div class="panel-heading">
                                                          <label for="Address_Search">Αναζήτησης Εκδήλωσης</label>
                                                      </div>
                                                      <div class="panel-body">
                                                          <div class="form-group has-feedback col-md-8 col-sm-10 cols-xs-12 col-md-offset-2  col-sm-offset-1 ">
                                                              <!--input type="hidden" id="hidden1" name="by" value=""-->
                                                              <!--input type="hidden" id="hidden2" name="id" value=""-->
                                                              <input type="text" class="form-control" id="Address_Search" name="free_text" placeholder="Καλοκαίρι Με Ποδόσφαιρο" aria-describedby="helpQuery" value=""/>
                                                              <i class="fa fa-building-o form-control-feedback"></i>
                                                              <span id="helpQuery" class="help-block hidden">123abc!@#</span>
                                                              <a onclick="myFunction()" id="mybutt" >Περισσότερα</a>
                                                          </div>
                                                          <div id="AdvancedSearch" style="display : none;">
                                                              <div class="form-group has-feedback col-md-8 col-sm-10 cols-xs-12 col-md-offset-2  col-sm-offset-1">
                                                                  <label for="config-demo">Ημερομηνία Εκδήλωσης</label>
                                                                  <input type="text" id="config-demo" name="Dates" class="form-control" value=" "/>
                                                              </div>
                                                              <div  id="locationField" class="form-group has-feedback col-md-8 col-sm-10 cols-xs-12 col-md-offset-2  col-sm-offset-1">
                                                                  <label for="config-demo">Διεύθυνση Αναζήτησης</label>
                                                                  <input id="autocomplete" placeholder="Π.χ. Συγγρού 15"  onFocus="geolocate()" type="text"/>
                                                                  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCR7e_1Er6gEoMB_i69MOiljeHJepWdVKA&amp;libraries=places&amp;callback=initAutocomplete"
                                                                  async="async" defer="defer"></script>
                                                              </div>
                                                              <div class="form-group col-md-2 col-sm-10 col-md-offset-2 col-sm-offset-1">
                                                                  <label for="Prices">Εύρος τιμών</label>
                                                                  <select name="Price" id="Prices"  class="form-control">
                                                                      <option value="1"></option>
                                                                      <option value="2">1-5</option>
                                                                      <option value="3">5-10</option>
                                                                      <option value="4">10-15</option>
                                                                      <option value="5">15-20</option>
                                                                      <option value="6">20-25</option>
                                                                  </select>
                                                                  <!--<input type="number" class="form-control" id="rooms" name="hab" min="1" max="10" value="1">-->
                                                              </div>
                                                              <div id="Age_Tags">
                                                                  <div class="hab-group">
                                                                      <div class="form-group col-md-2 col-sm-10 col-sm-offset-1">
                                                                          <label for="Age">Ηλικία</label>
                                                                          <input type="number" class="form-control" name="Age" min="1" max="15" value=""/>
                                                                      </div>

                                                                      <div class="form-group col-md-2 col-sm-10 col-sm-offset-1">
                                                                          <label for="distance">Αποσταση</label>
                                                                          <input type="number" class="form-control" id="distance" name="distance" min="1" max="30" value=""/>
                                                                      </div>

                                                                      <div class="age-chd"></div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                      </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 col-xs-12">

                                                        <input style="display:none;"  readonly="true" type="text" required="true" value="" name="lat" id="lat"/>
                                                    </div>
                                                    <div class="col-md-4 col-sm-6 col-xs-12">

                                                        <input  style="display:none;" readonly="true" type="text" required="true" value="" name="lon" id="lng"/>
                                                    </div>
													<div class="form-group col-md-4 col-sm-10 cols-xs-12 col-md-offset-4  col-sm-offset-1">
														<button type="submit" class="btn btn-primary btn-lg btn-block" form="AboutSearches" value="Submit"><i class="fa fa-search" aria-hidden="true">Αναζήτηση</i></button>
													</div>

												</form>
											</div>
										</div>
									</div>
								</div>
								<!--End of search bar html code-->
							</div>
						</p>


					</div>
				</div>
			</div>
							<!--For Carousel-->
			<br/>
			<div class="container" >
			  <p style="text-align:center;color:black;"><i><b><u>Προτεινόμενες Εκδηλώσεις</u></b></i></p>
			  <div class="row">
				<div class="col-md-12">
				  <div class="carousel slide multi-item-carousel" id="theCarousel" style="margin:0 auto;height:50%;width:50%;">
					<div class="carousel-inner" >
					  <div class="item active">
						<div class="col-xs-4"><a href="#1"><img  src="http://placehold.it/300/f44336/000000" style="height:150px;width:200px" class="img-responsive"/></a></div>
					  </div>
					  <div class="item">
						<div class="col-xs-4"><a href="#2"><img src="http://placehold.it/300/e91e63/000000" style="height:150px;width:200px" class="img-responsive"/></a></div>
					  </div>
					  <div class="item">
						<div class="col-xs-4"><a href="#3"><img src="http://placehold.it/300/9c27b0/000000" style="height:150px;width:200px" class="img-responsive"/></a></div>
					  </div>
					  <div class="item">
						<div class="col-xs-4"><a href="#4"><img src="http://placehold.it/300/673ab7/000000" style="height:150px;width:200px" class="img-responsive"/></a></div>
					  </div>

					  <!--  Example item end -->
					</div>
					<a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
					<a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
				  </div>
				</div>
			  </div>
			</div>
		</section>
	</div>





			<!--AdvancedSearch-->
			<script>
				function myFunction() {
					var x = document.getElementById('AdvancedSearch');

					var elem = document.getElementById("mybutt");
					if (elem.innerHTML=="Λιγότερα") elem.innerHTML = "Περισσότερα";
					else elem.innerHTML = "Λιγότερα";

					if (x.style.display === 'none') {
						x.value="Περισσότερα";
						x.style.display = 'block';
					} else {
						x.style.display = 'none';
					}
				}
			</script>
			<!-- Bootstrap Core JavaScript -->
			<script src="js/bootstrap.min.js"></script>
	<!--For date picking-->
	<script type="text/javascript">
		$(function() {

		  $('input[name="Dates"]').daterangepicker({
			  autoUpdateInput: false,
			  locale: {

				  cancelLabel: 'Clear'

			  }
		  });



		  $('input[name="Dates"]').on('apply.daterangepicker', function(ev, picker) {
			  $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
		  });

		  $('input[name="Dates"]').on('cancel.daterangepicker', function(ev, picker) {
			  $(this).val('');
		  });

		});
	</script>



	<!--For The carousel-->
	<script>

			// Instantiate the Bootstrap carousel
		$('.multi-item-carousel').carousel({
		  interval: false
		});

		// for every slide in carousel, copy the next slide's item in the slide.
		// Do the same for the next, next item.
		$('.multi-item-carousel .item').each(function(){
		  var next = $(this).next();
		  if (!next.length) {
			next = $(this).siblings(':first');
		  }
		  next.children(':first-child').clone().appendTo($(this));

		  if (next.next().length>0) {
			next.next().children(':first-child').clone().appendTo($(this));
		  } else {
			$(this).siblings(':first').children(':first-child').clone().appendTo($(this));
		  }
		});

	</script>

		<link rel="stylesheet" type="text/css" media="all" href="js/datepicker/daterangepicker.css" />
		<script type="text/javascript" src="js/datepicker/daterangepicker.js"></script>
	</body>

</html>
