<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:style="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Parents On Duty</title>



    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<script type="text/javascript" src="js/datepicker/jquery.min.js"></script>
	<script type="text/javascript" src="js/datepicker/moment.min.js"></script>


      
	  
	<link rel="stylesheet" type="text/css" href="js/datepicker/bootstrap.css" />
    <style type="text/css">
      .demo { position: relative; }
      .demo i {
        position: absolute; bottom: 10px; right: 24px; top: auto; cursor: pointer;
      }
    </style>
    <!-- Custom CSS -->
    <link href="/css/full-width-pics.css" rel="stylesheet"/>

	<div th:replace="top_bar_only_login :: 'head-top-bar'"></div>



</head>

<body>

    <!-- Navigation -->
	<div>
		<nav th:replace=" top_bar_only_login :: 'nav-bar-only-login' ">	</nav>
	</div>

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <header class="image-bg-fixed-height">
		<!--Fotografia twn paidiwn-->
    </header>

    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="section-paragraph">
						<div class="container">
							<!--Search Bar html code-->
							<div class="col-md-12" id="Search_Section">
								<div class="text-center" id="content-home">
									<div class="tab-content">
										<div role="tabpanel" class="tab-pane active" id="AllSearchForms">
											<form action="/results" method="get" id="AboutSearches">
												<div class="form-group has-feedback col-md-8 col-sm-10 cols-xs-12 col-md-offset-2  col-sm-offset-1 ">
													<label for="Address_Search">Αναζήτησης Εκδήλωσης</label>
													<!--input type="hidden" id="hidden1" name="by" value=""-->
													<!--input type="hidden" id="hidden2" name="id" value=""-->
													<input type="text" class="form-control" id="Address_Search" name="free_text" placeholder="Καλοκαίρι Με Ποδόσφαιρο" aria-describedby="helpQuery" value=""/>
													<i class="fa fa-building-o form-control-feedback"></i>
													<span id="helpQuery" class="help-block hidden">123abc!@#</span>
													<a onclick="myFunction()" id="mybutt" >Περισσότερα</a>
												</div>
													<div id="AdvancedSearch" style="display : none;">
														  <div class="form-group has-feedback col-md-8 col-sm-10 cols-xs-12 col-md-offset-2  col-sm-offset-1">
															<label for="config-demo">Επιλογή ημερομηνίας διοργάνωσης</label>
															<input type="text" id="config-demo" name="Dates" class="form-control" value=" "/>
														  </div>

														<div class="form-group col-md-2 col-sm-10 col-md-offset-2 col-sm-offset-1">
															<label for="Prices">Εύρος τιμών</label>
															<select name="Price" id="Prices"  class="form-control">
																<option value="1"></option>
																<option value="2">1-5</option>
																<option value="3">5-10</option>
																<option value="4">10-15</option>
																<option value="5">15-20</option>
																<option value="6">20-25</option>
															</select>
															<!--<input type="number" class="form-control" id="rooms" name="hab" min="1" max="10" value="1">-->
														</div>
														<div id="Age_Tags">
															<div class="hab-group">
																<div class="form-group col-md-2 col-sm-10 col-sm-offset-1">
																	<label for="Age">Ηλικία</label>
																	<input type="number" class="form-control" name="Age" min="1" max="15" value="2"/>
																</div>

																<div class="form-group col-md-2 col-sm-10 col-sm-offset-1">
																	<label for="distance">Αποσταση</label>
																	<input type="number" class="form-control" id="distance" name="distance" min="1" max="30" value="4"/>
																</div>

																<div class="age-chd"></div>
															</div>
														</div>
													</div>
												<div class="form-group col-md-4 col-sm-10 cols-xs-12 col-md-offset-4  col-sm-offset-1">
													<button type="submit" class="btn btn-info btn-lg btn-block" form="AboutSearches" value="Submit"><i class="fa fa-search" aria-hidden="true">Αναζήτηση</i></button>
												</div>
																								
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</p>
<!--End of search bar html code-->
                </div>
            </div>
        </div>
    </section>

    <!-- Fixed Height Image Aside -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
    <!--aside class="image-bg-fixed-height"></aside-->


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>And do not forget team...</p>
					<h1 class="section-heading">Parents on duty never give up!</h1>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>


			
			<!--AdvancedSearch-->
			<script>
				function myFunction() {
					var x = document.getElementById('AdvancedSearch');
					
					var elem = document.getElementById("mybutt");
					if (elem.innerHTML=="Λιγότερα") elem.innerHTML = "Περισσότερα";
					else elem.innerHTML = "Λιγότερα";
					
					if (x.style.display === 'none') {
						x.value="Περισσότερα";
						x.style.display = 'block';
					} else {
						x.style.display = 'none';
					}
				}
			</script>
			<!-- Bootstrap Core JavaScript -->
			<script src="js/bootstrap.min.js"></script>

	<script type="text/javascript">
		$(function() {

		  $('input[name="Dates"]').daterangepicker({
			  autoUpdateInput: false,
			  locale: {
			  
				  cancelLabel: 'Clear'

			  }
		  });
		  

			
		  $('input[name="Dates"]').on('apply.daterangepicker', function(ev, picker) {
			  $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
		  });

		  $('input[name="Dates"]').on('cancel.daterangepicker', function(ev, picker) {
			  $(this).val('');
		  });

		});
	</script>			
	<link rel="stylesheet" type="text/css" media="all" href="js/datepicker/daterangepicker.css" />
	<script type="text/javascript" src="js/datepicker/daterangepicker.js"></script>
</body>

</html>
