<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Receipt</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

  </head>

  <body>
      <hr/>
      <div class="container">
          <p style="size text-align:left;">
              <font size=6>
                  Parents On Duty
                  <span style="float:right;">Απόδειξη</span>
              </font>
          </p>
      </div>
      <br/>
      <hr/>
      <br/>
      <div class="container">
            <p th:inline="text">
                <font size=5>
                    Ημερομηνία [[${}]]
                </font>
            </p>
            <p th:inline="text">
                <font size=5>
                    Είδος Συνναλαγής : [[${}]]
                </font>
            </p>
            <p th:inline="text">
                <font size=5>
                    Αριθμός Συνναλαγής : [[${}]]
                </font>
            </p>
            <p th:inline="text">
                <font size=5>
                    Όνομα : [[${}]]
                </font>
            </p>
            <p th:inline="text">
                <font size=5>
                    Αιτιολογία : [[${}]]
                </font>
            </p>
            <p th:inline="text">
                <font size=5>
                    Ποσό : [[${}]]
                </font>
            </p>
      </div>
      <script>
        function Myprint() {
            window.print();
         }
      </script>
      <div class="container">
          <div class="pull-right">
              <button class="btn btn-primary btn-md" onclick="Myprint()">Εκτύπωση Απόδειξης</button>
          </div>
      </div>
  </body>
</html>
