<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"
>

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>SignUp</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
	<link href="css/SignUp.css" rel="stylesheet"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body >
    <div class="container">
    <h1 class="welcome text-center">Καινούργιος Λογαριασμός</h1>
        <div class="card card-container">
        <h2 class='login_title text-center'><b>Εγγραφή</b></h2>
        <hr>

            <form action="/Profile" class="form-signin" method="get">
                <span id="reauth-email" class="reauth-email"></span>
                <p class="input_title">Email</p>
                <input type="text" id="inputEmail" class="login_box" placeholder="user01@ParentOnDuty.com" name="Email" required autofocus>
                <p class="input_title">Ψευδώνυμο</p>
                <input type="text" id="inputUserName" class="login_box" placeholder="User1234" name="Username" required autofocus>
                <p class="input_title">Κωδικός</p>
                <input type="password" id="inputPassword" class="login_box" placeholder="******" name="Pwd" required>
                <p class="input_title">Επαλήθευση Κωδικού</p>
                <input type="password" id="inputRePassword" class="login_box" placeholder="******" name="RePwd" required>
                <div class="radio">
  					<label><input type="radio" name="myoption">Χρήστης</label>
				</div>
				<div class="radio">
  					<label><input type="radio" name="myoption">Οικοδεσπότης</label>
				</div>
                <div id="remember" class="checkbox">
                    <label>
                        
                    </label>
                </div>
                <button class="btn btn-lg btn-primary" type="submit">Εγγραφή</button>
				<a href=# class="text-right">Έχετε ήδη Λογαριασμό;</a> 
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->
</body>

</html>