<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head-top-bar" th:remove="tag">

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
	<!--Datepicker-->
	     <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet"/>
      <link rel="stylesheet" type="text/css" media="all" href="bootstrap-daterangepicker-master/daterangepicker.css" />
      <style type="text/css">
      .demo { position: relative; }
      .demo i {
        position: absolute; bottom: 10%; right: 20%; top: auto; cursor: pointer;
      }
      </style>
    <!-- Custom CSS -->
    <link href="css/full-bar.css" rel="stylesheet"/>
    <script type="text/javascript" src="js/map.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav th:fragment="nav-bar-full" class="navbar navbar-default navbar-fixed-top navbar-static-top" role="navigation">
           <div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<a style="color:white" class="navbar-brand" href="/">
					<div style="font-family:Comic Sans MS,cursive,sans-serif">
						<div class="title_spec" >Parents On Duty</div>
					</div>
				</a>
            </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	        <div th:unless="${#httpServletRequest.remoteUser}" class="navbar-right logsign">
	     		<div><a style="color: white" href="/register" ><span class="glyphicon glyphicon-user"></span> Εγγραφή</a></div>
	           	<div><a style="color: white" href="/login"><span class="glyphicon glyphicon-log-in"></span> Σύνδεση</a></div>
	       	</div>
	     	<div th:if="${#httpServletRequest.remoteUser}" class="nav navbar-nav navbar-right logsign">
		        	<form style="padding-top:4%;" th:action="@{/logout}" method="post">
		           		<input type="submit" value="Αποσύνδεση"/>
		           		<a  style="color: white;  padding-top:4%;" href="/profile"><span class="glyphicon glyphicon-log-in"></span> <span th:text="${#httpServletRequest.remoteUser}"></span></a>
					</form>
	       	</div>
	        <div class="dropdown mydrop navbar-right logsign">
	        	<button class="btn btn-lg btn-success dropdown-toggle" type="button" id="searches" data-toggle="dropdown">Μήπως Ψάχνεις Κάτι Άλλο;
	    		<span class="caret"></span></button>
	    		<div class="dropdown-menu " role="menu" aria-labelledby="searches">
	    			<form  action="/results" method="get" id="AboutSearches">
	    				<div class="form-group">
	        				<label for="Address_Search">Διεύθυνση Αναζήτησης</label>
							<input type="text" class="form-control" id="Address_Search" name="free_text" placeholder="Οδός,Περιοχή,Ταχυδρομικός κώδικας;" aria-describedby="helpQuery" th:value=" ${allParams!=null} ? ${allParams.get('free_text')} :'' "/>
							<i class="fa fa-building-o form-control-feedback"></i>
							<span id="helpQuery" class="help-block hidden">Σε τι βοηθαει αυτο;</span>
	        			</div>
	                	<div class="form-group">
	                    <label for="Prices">Τιμή</label>
							<select name="Price" id="Prices"  class="form-control" th:selected="${allParams!=null} ? ${allParams.get('Price')} : 1 ">
								<option value="1"></option>
								<option value="2">1-5</option>
								<option value="3">5-10</option>
								<option value="4">10-15</option>
								<option value="5">15-20</option>
								<option value="6">20-25</option>
							</select>
	               		</div>
	                    <div class="form-group">
	                   		<label for="config-demo">Hμερομηνία</label>
							<input type="text" id="config-demo" name="Dates" class="form-control" value="" th:value="${allParams!=null} ? ${allParams.get('Dates')} : ''"/>
						</div>
						<div class="form-group">
	                   		<label for="Age">Ηλικία</label>
							<input type="number" id="Age" class="form-control" name="Age" min="1" max="15" value="2" th:value="${allParams!=null} ? ${allParams.get('Age')} : '4'"/>
						</div>
						<div class="form-group">
	                   		<label for="query_tags">Extra Tags</label>
							<input type="text" class="form-control" id="query_tags" name="ExtraTags" placeholder="ώρα,είδος δραστηριότητας κλπ" aria-describedby="helpQuery" value="" th:value="${allParams!=null} ? ${allParams.get('ExtraTags')} : '' "/>
							<i class="fa fa-building-o form-control-feedback"></i>
							<span id="helpQuery" class="help-block hidden">Σε τι βοηθάει αυτό;</span>
						</div>
						<div class="form-group">
							<label for="distance">Αποσταση</label>
							<input type="number" class="form-control" id="distance" name="distance" min="1" max="30" th:value="${allParams!=null} ? ${allParams.get('distance')} : '4'"/>
						</div>
						<button type="submit" class="btn btn-info btn-lg btn-block search_button" form="AboutSearches" value="Submit"><i class="fa fa-search" aria-hidden="true">Αναζήτηση</i></button>
	            	</form>
	    		</div>
	        </div>
		</div>
    </nav>

	<!--DatePicker-->

	<script type="text/javascript" src="bootstrap-daterangepicker-master\example\amd/require.js" data-main="bootstrap-daterangepicker-master\example\amd/main.js"></script>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>

