<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:fragment="head-top-bar" th:remove="tag">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link href="/css/bar.css" rel="stylesheet"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Navigation -->
<nav th:fragment="nav-bar-only-login" class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header">
    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
		<a style="color:white" class="navbar-brand" href="/">
		<div style="font-family:Comic Sans MS,cursive,sans-serif">
			<div class="title_spec" >Parents On Duty</div>
		</div>
		</a>
    </div>
    <!-- Search Bar -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul th:unless="${#httpServletRequest.remoteUser}" class="nav navbar-nav navbar-right logsign">
            <li><a style="color: white" href="/register" ><span class="glyphicon glyphicon-user"></span> Εγγραφή</a></li>
            <li><a style="color: white" href="/login"><span class="glyphicon glyphicon-log-in"></span> Σύνδεση</a></li>
        </ul>
        <ul th:if="${#httpServletRequest.remoteUser}" class="nav navbar-nav navbar-right logsign">
            <li>
                <a style="color: white" onclick="log_out_fun()" href="#" ><span class="glyphicon glyphicon-log-out"></span>Αποσύνδεση</a>
                <form th:action="@{/logout}"  method="post">
                    <button  type="submit" id="real_logout" style="color: white; display: none;"  class="btn btn-link "> <span class="glyphicon glyphicon-log-out"></span>Αποσύνδεση</button>
                </form>
                <script>
                    function log_out_fun(){
                        document.getElementById("real_logout").click();
                    }
                </script>
            </li>
            <li><a style="color: white" href="/profile"><span class="glyphicon glyphicon-user"></span> <span th:text="${#httpServletRequest.remoteUser}"> </span></a></li>
        </ul>
	</div>
</nav>
</body>

</html>
