<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>User Profile</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/host_profile.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="/js/host_profile.js"></script>
  </head>

	<body>
		<div class="navbar navbar-default navbar-fixed-top">
		    <div class="navbar-header">
		    	<a style="color:white" class="navbar-brand" href="/">
					<div style="font-family:Comic Sans MS,cursive,sans-serif">
						<div class="title_spec" >Parents On Duty</div>
					</div>
				</a>
		    </div>
		</div><!--/.navbar -->

		<div class="row-offcanvas row-offcanvas-left">
		  <div id="sidebar" class="sidebar-offcanvas">
		      <div class="col-md-12">
		        <h3>Άλλες Επιλογές</h3>
		        <ul class="nav nav-pills nav-stacked">
		          <li class="active"><a href="/host_profile">Προφίλ</a></li>
		          <li><a href="/add_event">Ιστορικό Εκδηλώσεων</a></li>
		          <li><a href="/wallet">Πορτοφόλι</a></li>
		        </ul>
		      </div>
		  </div>
		  <div id="main">
		      <div class="col-md-12">
		      	  <p class="visible-xs">
		            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Μενού</button>
		          </p>
		          <h2>Το προφίλ μου</h2>
                  <hr />
                  <br/>
		          <div class="row">
		              <div class="col-md-12"><div class="well">
		              	<h4 th:inline="text"><b>Όνομα: [[${Organiser.Name}]]</b></h4>
		              	<h4 th:inline="text"><b>Επίθετο: [[${Organiser.Surname}]]</b></h4>
		              	<h4 th:inline="text"><b>E-mail: [[${Organiser.Email}]]</b></h4>
		              	<h4 th:inline="text"><b>Γενέθλια: [[${Organiser.Birthday}]]</b></h4>
		              </div></div>
		          </div>
		          <div class="row">
		              <div class="col-md-4">
		              	<div class="well">
		              		<div id="myevents">
		              			<h4><b>Εκδηλώσεις που έχω κλείσει:</b></h4>
		              			<h4  th:text="${Parent.eventHasCustomers}"></h4>
		              		</div>
		              	</div>
		              </div>
		          </div>
		          <div class="row">
		              <div class="col-md-4">
		              	<div class="well">
		              		<div id="mypoints">
		              			<h4><b>Οι πόντοι μου:</b></h4>
		              			<h4  th:text="${Parent.points}"></h4>
		              			<h4><b>Οι μπόνους πόντοι μου:</b></h4>
		              			<h4  th:text="${Parent.bonus_points}"></h4>
		              		</div>
		              	</div>
		              </div>
		          </div>
		      </div>
		  </div>
		</div><!--/row-offcanvas -->


	</body>
</html>
