<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>User Profile</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="/js/host_profile.js"></script>
    <link href="/css/history.css" rel="stylesheet"/>
  </head>
	<body>
		<script>
            function enterIdInModal(eventId) {
                document.getElementById("cancel").action="/user/cancel/"+eventId.toString();
            }
		</script>
		<div class="navbar navbar-default navbar-fixed-top">
		    <div class="navbar-header">
		    	<a style="color:white" class="navbar-brand" href="/">
					<div style="font-family:Comic Sans MS,cursive,sans-serif">
						<div class="title_spec" >Parents On Duty</div>
					</div>
				</a>
		    </div>
		</div><!--/.navbar -->

		<div class="row-offcanvas row-offcanvas-left">
		  <div id="sidebar" class="sidebar-offcanvas">
		      <div class="col-md-12">
		        <h3>Άλλες Επιλογές</h3>
		        <ul class="nav nav-pills nav-stacked">
		          <li class="active"><a href="/user/profile">Προφίλ</a></li>
		          <li><a href="/user/history">Ιστορικό Εκδηλώσεων</a></li>
                  <li><a href="/user/historytrans">Ιστορικό Συναλλαγών</a></li>
		          <li><a href="/user/wallet">Πορτοφόλι</a></li>
		        </ul>
		      </div>
		  </div>
		  <div id="main">
		      <div class="col-md-12">
		      	  <p class="visible-xs">
		            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Μενού</button>
		          </p>
		          <h2>Το προφίλ μου</h2>
                  <hr />
                  <br/>
		          <div class="row">
                      <div class="col-md-8">
                          <h3>Τα Στοιχεία Μου</h3>
                          <div class="well">
		              	<h4 th:inline="text"><b>E-mail: [[${curUser.login_email}]]</b></h4>
		              </div></div>
		          </div>
		          <div class="row">
                      <div class="col-md-10">
                          <div class="agenda">
                              <div class="table-responsive">
                                  <h3>Μελλοντικές Εκδηλώσεις</h3>
                                  <table th:if="${curUser.getBookEvents()!=null}" class="table table-condensed table-bordered">
                                      <thead>
                                          <tr>
                                              <th>Ημερομηνία</th>
                                              <th>Ώρα</th>
                                              <th>Εκδήλωση</th>
                                              <th>Ακύρωση</th>
                                          </tr>
                                      </thead>
                                      <tbody>
										  <th:block th:each="oneBook : ${curUser.getBookEvents()}" th:if="${ oneBook.event.day >= localDate}">
											  <tr>
												  <td class="agenda-date active" rowspan="1">
													  <div class="dayofmonth" th:text="${@generalService.dayOfMonth(oneBook.event.day)}"></div>
													  <div class="dayofweek" th:text="${@generalService.dayOfWeek(oneBook.event.day)}">Σάββατο</div>
													  <div class="shortdate text-muted" th:text="${@generalService.shortDate(oneBook.event.day)}">Ιουλιος,2014</div>
												  </td>
												  <td class="agenda-time" th:text="${oneBook.event.time.hours}+':'+${oneBook.event.time.minutes}">
													  5:30 AM
												  </td>
												  <td class="agenda-events">
													  <div class="agenda-event" th:text="${oneBook.event.eventsgroup.name}">
														  Ποδοσφαιρο
													  </div>
												  </td>
                                                  <td class="agenda-button">
                                                      <button type="button" class="btn btn-danger btn-md btn-block" data-toggle="modal" data-target="#myModal" th:onclick="'enterIdInModal('+${oneBook.bookId}+')'">Ακύρωση!</button>
                                                  </td>
											  </tr>
										  </th:block>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
		              </div>
		          </div>
                  <!-- Modal -->
                  <div class="modal fade" id="myModal" role="dialog">
                      <div class="modal-dialog">

                          <!-- Modal content-->
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h2 class="modal-title">Επιβεβαίωση</h2>
                              </div>
                              <div class="modal-body text-center" >
                                  <h3>Είστε σίγουρος ότι θέλετε να ακυρώσετε την κράτηση;</h3>
                              </div>
                              <form th:action="'/user/candeletion'" method="post" id="cancel">
                                  <div class="modal-footer">
                                      <div class="text-center">
                                          <input style="display:none;"/>
                                          <button type="submit" class="btn btn-lg btn-primary" form="cancel" value="Submit">Ναί</button>
                                          <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal">Όχι</button>
                                      </div>
                                  </div>
                              </form>
                          </div>

                      </div>
                  </div>
		          <div class="row">
		              <div class="col-md-4">
                        <h3>Πόντοι</h3>
		              	<div class="well">
		              		<div id="mypoints">
		              			<h4><b>Οι πόντοι μου:</b></h4>
		              			<h4  th:text="${curUser.points}/100"></h4>
		              			<h4><b>Οι μπόνους πόντοι μου:</b></h4>
		              			<h4  th:text="${curUser.wallet}/100"></h4>
		              		</div>
		              	</div>
		              </div>
		          </div>
		      </div>
		  </div>
		</div><!--/row-offcanvas -->

	</body>
</html>
