<!DOCTYPE html>
<html
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
>

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Wallet</title>

    <!-- Bootstrap Core CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/css/wallet.css" rel="stylesheet"/>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<!---->
<body>
	<div class="row">
		<div class="col-sm-2" >
			<button  onclick="location.href='/'" type="button" class="btn btn-primary">Αρχική Σελίδα</button>
		</div>
	</div>
	<div class="container">
	<h1 class="welcome text-center">Πορτοφολί<br/></h1>
		<div class="card card-container">
		<h2 class='login_title text-center'><b>Διαχείρηση Πορτοφολιού</b></h2>
			<form th:action="@{/wallet}" class="form-signin" method="post">
				<span id="reauth-email" class="reauth-email"></span>
				<hr/>
				<br/>
				<!---->
				<h4 th:text="'Οι πούντοι μου : ' + ${curUser.points}"> </h4>
				<br/>
				<button class="btn btn-lg btn-primary" type="button" data-toggle="modal" data-target="#myModal">Πρόσθεσε Πόντους</button>
				<!-- Modal -->
				  <div class="modal fade" id="myModal" role="dialog">
				    <div class="modal-dialog">

				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title">Συμπλήρωσε Στοιχεία Πιστωτικής</h4>
				        </div>
				        <div class="modal-body">
							<h3>Ονοματεπώνυμο</h3>
							<input type="text" placeholder="Φώτιος Πλάκ" aria-describedby="helpQuery" value=""/>
							<h3>Αριθμός Κάρτας</h3>
							<input type="text" maxlength="16" size="16" placeholder="123456789012" aria-describedby="helpQuery" value=""/>
							<h3>Κωδικός Ασφάλειας</h3>
							<input type="text"maxlength="6" placeholder="321" aria-describedby="helpQuery" value=""/>
							<h3>Αριθμός Πόντων</h3>
						    <div class="form-group">
						  		<input type="number" min="1" max="1000" class="form-control"  aria-describedby="helpQuery" value=""/>
					  	    </div>
				        </div>
				        <div class="modal-footer">
				          <button type="submit" class="btn btn-default" data-dismiss="modal">Προσθήκη</button>
				        </div>
				      </div>

				    </div>
				  </div>

			</form><!-- /form -->
		</div><!-- /card-container -->
	</div><!-- /container -->
</body>

</html>
