body {
    padding-top: 5%; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 0 auto;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


.navbar-default {
    height:0 auto;
    width:0 auto;
    background-color:dodgerblue;
    border-color: black;
}

.mydrop{
	height: auto;
	width: auto;
}

.navbar-default .navbar-header .navbar-brand{
    color:black;
}

.title_spec{
    color:white;
}

.search_button{
    margin-top:0.5em;
    width:auto;
}

.logsign{
    margin-top:auto;
    margin-right:1%;
}

.dropdown-menu{ padding:7% 14%; }

.address_search{
    width:auto;
}



.onnav{
    color:black;
}

.date_search{
    width:auto;
}
.price_search{
    width:auto;
}

.extra_search{
    width:auto;
}

/*.navbar-toggle{*/
    /*display: block;*/
/*}*/

/*.navbar-collapse.collapse{*/
    /*display: none !important;*/
/*}*/