<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>History</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/css/history.css" rel="stylesheet"/>
    <script type="text/javascript" src="/js/host_profile.js"></script>
    <script type="text/javascript" src="/js/rating.js"></script>
    <div th:replace="top_bar_only_login :: 'head-top-bar'"></div>
  </head>

	<body>
		<nav th:replace=" top_bar_only_login :: 'nav-bar-only-login' ">	</nav>
		<div class="row-offcanvas row-offcanvas-left">
		  <div id="sidebar" class="sidebar-offcanvas">
		      <div class="col-md-12">
		        <h3>Άλλες Επιλογές</h3>
		        <ul class="nav nav-pills nav-stacked">
                <li><a href="/organiser/profile">Προφίλ</a></li>
                <li><a href="/organiser/add_place">Προσθήκη Μέρους</a></li>
                <li><a href="/organiser/add_event">Προσθήκη Εκδήλωσης</a></li>
                <li><a href="/organiser/history">Ιστορικό Εκδηλώσεων</a></li>
                <li class="active"><a href="/organiser/historytrans">Ιστορικό Συναλλαγών</a></li>
                <li><a href="/organiser/wallet">Πορτοφόλι</a></li>
		        </ul>
		      </div>
		  </div>
		  <div id="main">
		      <div class="col-md-12">
		      	  <p class="visible-xs">
		            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Μενού</button>
		          </p>
		          <h2>Το Ιστορικό Μου</h2>
                  <hr />
                  <br/>
                    <div class="agenda">
                          <div class="table-responsive">
                              <h3>Συναλλαγές</h3>
                              <table class="table table-condensed table-bordered">
                                  <thead>
                                      <tr>
                                          <th>Ημερομηνία</th>
                                          <th>Διαφορά</th>
                                          <th>Παλαιό Υπόλοιπο</th>
										  <th>Αναγνωριστικό Συναλλαγής</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <th:block th:each="oneTrans : ${curUser.organiserPaymentHistories}">
                                          <tr>
                                              <td class="agenda-date active" rowspan="1">
                                                  <div class="dayofmonth" th:text="${@generalService.dayOfMonth(oneTrans.timeStamp)}"></div>
                                                  <div class="dayofweek" th:text="${@generalService.dayOfWeek(oneTrans.timeStamp)}">Σάββατο</div>
                                                  <div class="shortdate text-muted" th:text="${@generalService.shortDate(oneTrans.timeStamp)}">Ιουλιος,2014</div>
                                              </td>
                                              <th:block th:if="${oneTrans.moneyPayed}>0">
                                              <td class="agenda-paid" style="color:green" th:text=" '+' +${oneTrans.moneyPayed}/100 + '€'">
                                                  100 €
                                              </td>
                                              </th:block>
                                              <th:block th:unless="${oneTrans.moneyPayed}>0">
                                                 <td class="agenda-paid" style="color:red" th:text="${oneTrans.moneyPayed}/100 + '€'">
                                                      100 €
                                                 </td>
                                              </th:block>
                                              <td class="agenda-payment">
                                                  <div class="agenda-event" th:text="${oneTrans.oldBalcend}/100">
                                                      50 €
                                                  </div>
                                              </td>
											  <td class="agenda-transid" th:text="${oneTrans.transactionId}">
                                                  420
                                              </td>
                                          </tr>
                                      </th:block>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                      <!-- Modal -->
                      <div class="modal fade" id="myModal" role="dialog">
                          <div class="modal-dialog">
                              <!-- Modal content-->
                              <div class="modal-content">
        				        <div class="modal-header">
        				          <button type="button" class="close" data-dismiss="modal">&times;</button>
        				          <h4 class="modal-title">Αξιολόγηση</h4>
        				        </div>
        				        <div class="modal-body">
                                    <form th:action=".." method="post">
                                        <div class="form-group">
                                            <h3>Γράψτε Την Αξιολογησή Σας</h3>
                                            <textarea class="form-control custom-control" required="true" name="desc" placeholder="Π.χ. Ένα όμορφο Σάββατο πάλι στο ακαν8υς με τα πιτσιρακια μας :)  " rows="3" style="resize:none"></textarea>
                                            <h3>Βαθμολογία</h3>
                                            <input type="number" class="rating" id="stars" name="stars" data-min="1" data-max="5" value="0"/>
                                        </div>
                                    <div class="modal-footer">
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary" data-dismiss="modal">Πρόσθεσε</button>
                                        </div>
                                    </div>
                                    </form>
                                </div>
        				      </div>
                          </div>
                      </div>
		      </div>
		  </div>
		</div><!--/row-offcanvas -->


	</body>
</html>
