<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Host Profile</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/host_profile.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="/js/host_profile.js"></script>
    <div th:replace="top_bar_only_login :: 'head-top-bar'"></div>
</head>

<body>
    <script>
        function existing_money(){
            document.getElementById("ex-btn").style.display="none";
            document.getElementById("ex-btn2").style.display="none";
            document.getElementById("ex-btn3").style.display="block";
            document.getElementById("boost").style.display="block";
            document.getElementById("boost2").style.display="block";
        }
        function return_modal(){
            document.getElementById("ex-btn").style.display="block";
            document.getElementById("ex-btn2").style.display="block";
            document.getElementById("ex-btn3").style.display="none";
            document.getElementById("boost").style.display="none";
            document.getElementById("boost2").style.display="none";
        }
    </script>
<nav th:replace=" top_bar_only_login :: 'nav-bar-only-login' ">	</nav>
<div class="row-offcanvas row-offcanvas-left">
    <div id="sidebar" class="sidebar-offcanvas">
        <div class="col-md-12">
            <h3>Άλλες Επιλογές</h3>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="/organiser/profile">Προφίλ</a></li>
                <li><a href="/organiser/add_place">Προσθήκη Μέρους</a></li>
                <li><a href="/organiser/add_event">Προσθήκη Εκδήλωσης</a></li>
                <li><a href="/organiser/history">Ιστορικό</a></li>
				<li><a href="/organiser/wallet">Πορτοφόλι</a></li>
            </ul>
        </div>
    </div>
    <div id="main">
        <div class="col-md-12">
            <p class="visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Μενού</button>
            </p>
            <h2>Το προφίλ μου</h2>
            <div class="row">
                <div class="col-md-8"><div class="well">
                    <h4 th:inline="text"><b>Όνομα: [[${organiser.name}]]</b></h4>
                    <h4 th:inline="text"><b>Επίθετο: [[${organiser.surname}]]</b></h4>
                    <h4 th:inline="text"><b>E-mail: [[${organiser.login_email}]]</b></h4>
                    <h4 th:inline="text"><b>Γενέθλια: [[${organiser.birthdate}]]</b></h4>
                </div></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="well pre-scrollable">
                        <div id="myplaces">
                            <h4><b>Τα Μέρη μου:</b></h4>
                            <th:block th:if="${ organiser.locations != null}" th:each="oneLocation : ${organiser.locations}" >
                                <p th:text="'Όνομα : ' + ${oneLocation.name}"></p>
                                <p th:text="'Διεύθυνση :' + ${oneLocation.address}"></p>
                                <!--<p th:text="'Έγκυρο μέχρι τις :' + ${oneLocation.validUntil}"></p>-->
                                <hr/>
                            </th:block>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="well pre-scrollable">
                        <div id="myevents">
                            <h4><b>Οι Εκδηλώσεις μου:</b></h4>
                            <th:block th:if="${ organiser.events != null}" th:each="oneEvent : ${organiser.events}">
                                <th:block th:if="${oneEvent.day.compareTo(date)>0}" >
                                    <h5 th:text=" 'Όνομα : '+${oneEvent.eventsgroup.name}"></h5>
                                    <th:block th:if="${oneEvent.importance > 1}">
                                        <p style="color:green" th:text="'Προωθούμενη'"></p>
                                    </th:block>
                                    <th:block th:unless="${oneEvent.importance > 1}">
                                        <button type="button" style="color:#202f80" data-toggle="modal" data-target="#myModal" th:text="'Προωθήστε την εκδήλωση'"></button>
                                    </th:block>

                                    <p th:text=" 'Θέσεις : '+${oneEvent.spots - @eventService.getAvailableSpots(oneEvent)}+'/'+${oneEvent.spots}"></p>
                                    <p th:text=" 'Ημερομηνία : '+ ${#dates.format(oneEvent.day,'dd/MM/yyyy')} "></p>
                                    <p th:text=" 'Τοποθεσία :'+${oneEvent.location.name}"></p>
                                    <hr/>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Προώθηση</h2>
              </div>
              <form th:action=".." method="post">
                  <div class="modal-body">
                      <div class="text-center">
                          <h3 id="ex-btn">Επέλεξε Τρόπο Πληρωμής</h3>
                          <div class="row">
                              <div id="ex-btn2">
                                  <button type="button"  style="width:175px;"  class="btn btn-primary btn-lg" onclick="existing_money()">Υπάρχον Χρήματα</button>
                                  <button type="button" style="width:175px;"  class="btn btn-primary btn-lg" onclick="location.href='/organiser/wallet';">Πρόσθεσε</button>
                              </div>
                              <h3 style="display:none;" id="boost2">Επέλεξε Κατηγορία Προώθησης</h3>
                              <style>
                                select{
                                    display: block;
                                    margin: 0 auto;
                                }
                              </style>
                              <select name="boost_cat" id="boost" style="display:none;">
                                 <option value="gold">Gold-30€</option>
                                 <option value="silver">Silver-20€</option>
                                 <option value="bronze">Bronze-10€</option>
                              </select>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <div class="text-center" style="display:none;" id="ex-btn3">
                          <button type="submit"   class="btn btn-lg btn-primary "  value="Submit">Ναί</button>
                          <button type="button"  class="btn btn-lg btn-primary " onclick="return_modal()" data-dismiss="modal">Όχι</button>
                      </div>
                  </div>
              </form>
            </div>
        </div>
    </div>
</div><!--/row-offcanvas -->


</body>
</html>
